body {
  margin: 0;
  overflow: hidden;
  background: #222;
  color: white;
  font-family: sans-serif;
}

#intro, #game {
  display: block;
  background: black;
  margin: 0 auto;
  border: 2px solid #444;
}

#intro {
  background-color: #ccc;
  z-index: 10;
}

#game {
  z-index: 1;
}

#musicBtnActive, #musicBtnStop {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  font-size: 16px;
  background-color: #222;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
}

#startScreen {
  position: relative;
  text-align: center;
}

#startButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -800%);
  background: none;
  border: none;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  z-index: 20;
  &:hover {
    text-decoration: none;
    color: #ffd700;
  }
}

#ui {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  z-index: 10;
}

#version {
  display: flex;
  justify-content: center;
  margin: 5px;
  color: #aaa;
}